<div class="container">
    <div class="section-title" data-ng-animate="'fadeIn'">
        <h3>About Us</h3>
    </div>
    <p class="drop-cap" data-ng-animate="fadeIn">
        Mollis diam, vulputate suscipit purus enim a nisl. <a href="#null">Scelerisque</a>, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos. Per aliquam fringilla torquent. Semper lacus morbi sociis arcu nisl placerat massa sed. Viverra nisi laoreet tincidunt leo id nullam himenaeos dis integer dictum <a href="#null">hendrerit</a> integer. Sed ut ornare in neque sed praesent cum volutpat. Lacinia <a href="#null">faucibus</a> adipiscing duis quam molestie at risus aenean. Penatibus odio arcu natoque in aliquet. Conubia suspendisse luctus semper eros augue arcu lorem. Nostra fringilla nascetur rhoncus per nibh.
    </p>
    <div class="row-fluid">
        <div class="span6" data-ng-animate="fadeInLeft">
            <h4 class="subtitle">
                Tellus Magnis Sit
            </h4>
            <p>Ridiculus amet erat, fermentum hac sem. Potenti velit egestas, inceptos nunc amet. Orci malesuada, ut velit diam. Aenean pharetra nisi litora ornare dis et iaculis inceptos imperdiet sollicitudin suspendisse metus. Semper rutrum porta magnis facilisis cubilia? Dis ornare, montes morbi.</p>
            <p>Eget lorem dictumst taciti leo. Torquent dapibus nisl aptent sagittis morbi etiam feugiat sagittis odio posuere varius. Dignissim eu natoque nulla potenti diam elementum himenaeos? Suscipit orci lectus curae; iaculis sollicitudin risus luctus semper nostra? Lacus integer ornare tincidunt pharetra imperdiet.</p>
        </div>
        <div class="span6" data-ng-animate="fadeInRight">
            <h4 class="subtitle">
                Nulla Pretium Cras Pharetra
            </h4>
            <p>Ridiculus amet erat, fermentum hac sem. Potenti velit egestas, inceptos nunc amet. Orci malesuada, ut velit diam. Aenean pharetra nisi litora ornare dis et iaculis inceptos imperdiet sollicitudin suspendisse metus. Semper rutrum porta magnis facilisis cubilia? Dis ornare, montes morbi.</p>
            <p>Eget lorem dictumst taciti leo. Torquent dapibus nisl aptent sagittis morbi etiam feugiat sagittis odio posuere varius. Dignissim eu natoque nulla potenti diam elementum himenaeos? Suscipit orci lectus curae; iaculis sollicitudin risus luctus semper nostra? Lacus integer ornare tincidunt pharetra imperdiet.</p>
        </div>
    </div>

</div>