<div class="container">
    <div class="section-title seprator" data-ng-animate="fadeIn">
        <h3>Contact Us</h3>
    </div>
    <div id="gmap" data-ng-animate="fadeIn" class="map"></div>
    <div class="hz-divider"></div>
    <div class="contact-form row-fluid">
        <div class="span6" data-ng-animate="fadeInLeft">
            <div class="section-title seprator">
                <h3>Our Address</h3>
            </div>
            <div class="row-fluid">
                <div class="span6" data-ng-animate="fadeInLeft">
                    <h4 class="primary-color">Jon Doe</h4>
                    <p>
                        4066 Gentle Towers<br />
                        Zumbro Falls,Maine<br />
                        Pin - 04641-9422
                    </p>
                    <span class="primary-color">Phone</span>
                    <span>: (207) 605-9818</span>
                    <br />
                    <span class="primary-color">Email</span>
                    <span>: email@yoursite.com</span>
                    <br />

                </div>
                <div class="span6" data-ng-animate="fadeInLeft" data-ng-animate-delay=".2s">
                    <div class="hz-divider visible-phone"></div>
                    <h4 class="primary-color">William Stevens</h4>
                    <p>
                        4066 Gentle Towers<br />
                        Zumbro Falls,Maine<br />
                        Pin - 04641-9422
                    </p>
                    <span class="primary-color">Phone</span>
                    <span>: (207) 605-9818</span>
                    <br />
                    <span class="primary-color">Email</span>
                    <span>: email@yoursite.com</span>
                    <br />
                </div>
            </div>
        </div>
        <div class="hz-divider visible-phone"></div>
        <div class="span6" data-ng-animate="fadeInRight">
            <div class="section-title seprator">
                <h3>Talk To Us</h3>
            </div>
            <form>
                <div class="row-fluid">
                    <div class="span6">
                        <input type="text" placeholder="Name" class="input-block-level" />
                        <br />
                        <input type="text" placeholder="Email" class="input-block-level" />
                    </div>

                </div>

                <textarea placeholder="Type Your Message Here..." class="input-block-level" rows="5"></textarea>
                <input type="button" value="Send Message" class="btn " />
                <input type="reset" class="btn  pull-right" value="Reset" />

            </form>
        </div>

    </div>
</div>