<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <h4 class="footer-title">
                Recent Posts
                <span class="post-controls pull-right">
                    <a href="#prev" class="post-prev btn  btn-mini"><i class="icon-chevron-up"></i></a>
                    <a href="#next" class="post-next btn  btn-mini"><i class="icon-chevron-down"></i></a>
                </span>
            </h4>
            <div class="post-wrapper">
                <div class="post-slider">
                    <div class="post-item">
                        <img src="assets/100/1.jpg" />
                        <h5 class="post-item-title">A felis nascetur platea <a href="#null" class="pull-right"><i class=" icon-link"></i></a></h5>
                        <p>Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.</p>
                    </div>
                    <div class="post-item">
                        <img src="assets/100/2.jpg" />
                        <h5 class="post-item-title">A felis nascetur platea <a href="#null" class="pull-right"><i class=" icon-link"></i></a></h5>
                        <p>Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.</p>
                    </div>
                    <div class="post-item">
                        <img src="assets/100/3.jpg" />
                        <h5 class="post-item-title">A felis nascetur platea <a href="#null" class="pull-right"><i class=" icon-link"></i></a></h5>
                        <p>Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.</p>
                    </div>
                    <div class="post-item">
                        <img src="assets/100/4.jpg" />
                        <h5 class="post-item-title">A felis nascetur platea <a href="#null" class="pull-right"><i class=" icon-link"></i></a></h5>
                        <p>Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.</p>
                    </div>
                    <div class="post-item">
                        <img src="assets/100/5.jpg" />
                        <h5 class="post-item-title">A felis nascetur platea <a href="#null" class="pull-right"><i class=" icon-link"></i></a></h5>
                        <p>Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.</p>
                    </div>
                    <div class="post-item">
                        <img src="assets/100/6.jpg" />
                        <h5 class="post-item-title">A felis nascetur platea <a href="#null" class="pull-right"><i class="icon-link"></i></a></h5>
                        <p>Inceptos tellus urna condimentum penatibus venenatis, felis nunc litora tincidunt.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="hz-divider visible-phone"></div>

        <div class="span4">
            <h4 class="footer-title">
                Testimonials
                <span class="testimonial-controls pull-right">
                    <a href="#prev" class="testimonial-prev btn  btn-mini"><i class="icon-chevron-left"></i></a>
                    <a href="#next" class="testimonial-next btn  btn-mini"><i class="icon-chevron-right"></i></a>
                </span>

            </h4>
            <div class="testimonial-wrapper">
                <div class="testimonial-slider">
                    <div class="testimonial-item">
                        <img src="assets/300/5.jpg" />
                        <div class="content">
                            <h5>Jane Doe</h5>
                            <p>
                                Fusce eget amet lorem id pretium in ac lobortis mus placerat blandit penatibus. Faucibus, a vulputate.
                            </p>
                            <p>Ipsum ultrices metus proin. Interdum tortor justo mi sapien dapibus justo fermentum nulla molestie.</p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="assets/300/3.jpg" />
                        <div class="content">
                            <h5>William Stevens</h5>
                            <p>
                                Fusce eget amet lorem id pretium in ac lobortis mus placerat blandit penatibus. Faucibus, a vulputate.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="assets/300/4.jpg" />
                        <div class="content">
                            <h5>James Watson</h5>
                            <p>
                                Fusce eget amet lorem id pretium in ac lobortis mus placerat blandit penatibus. Faucibus, a vulputate.
                            </p>
                            <p>Ipsum ultrices metus proin. Interdum tortor justo mi sapien dapibus justo fermentum nulla molestie.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hz-divider visible-phone"></div>

        <div class="span4">
            <h4 class="footer-title">Stay Connected</h4>
            <div class="social-links">
                <a href="#null">
                    <img src="images/icon/facebook.png" alt="" />
                </a>

                <a href="#null">
                    <img src="images/icon/googleplus.png" alt="" />
                </a>
                <a href="#null">
                    <img src="images/icon/linkedin.png" alt="" />
                </a>
                <a href="#null">
                    <img src="images/icon/pinterest.png" alt="" />
                </a>
                <a href="#null">
                    <img src="images/icon/skype.png" alt="" />
                </a>
                <a href="#null">
                    <img src="images/icon/twitter.png" alt="" />
                </a>
                <a href="#null">
                    <img src="images/icon/youtube.png" alt="" />
                </a>

            </div>
            <h4 class="footer-title">Monthly Newsletter</h4>
            <div class="newsletter">
                <form>
                    <div class="input-append row-fluid">
                        <input type="text" placeholder="Type You Email..." class="span7" />


                        <input type="button" value="Subscribe" class="btn " />

                    </div>
                </form>
                <p>Subscribe to our newsletter and get exclusive deals you won't find anywhere else straight to your inbox!</p>
            </div>
        </div>
    </div>
</div>