<div class="container">
    <div class="section-title seprator">
        <h3>Portfolio</h3>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="portfolio-item" data-ng-animate="bounceIn">
                <div class="image">
                    <img src="assets/portfolio/doctore.png" />
                </div>

                <div class="content">
                    <h4 class="subtitle">
                        Lorem Ipsum
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                    </p>
                </div>
                <div class="links">
                    <a href="#null" class="btn"><i class="icon-plus"></i>More</a>&nbsp;&nbsp;
                    <a href="#null" class="btn"><i class="icon-ok"></i>Action</a>
                </div>

            </div>
        </div>

        <div class="span3" data-ng-animate="bounceIn" data-ng-animate-delay=".2s">
            <div class="portfolio-item">
                <div class="image">
                    <img src="assets/portfolio/dribbble_monster_1x.jpg" />
                </div>
                <div class="content">
                    <h4 class="subtitle">
                        Lorem Ipsum
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                    </p>
                </div>
                <div class="links">
                    <a href="#null" class="btn "><i class="icon-plus"></i>More</a>&nbsp;&nbsp;
                    <a href="#null" class="btn "><i class="icon-ok"></i>Action</a>
                </div>

            </div>
        </div>
        <div class="span3" data-ng-animate="bounceIn" data-ng-animate-delay=".4s">
            <div class="portfolio-item">
                <div class="image">
                    <img src="assets/portfolio/dribbble_owl.png" />
                </div>
                <div class="content">
                    <h4 class="subtitle">
                        Lorem Ipsum
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                    </p>
                </div>
                <div class="links">
                    <a href="#null" class="btn "><i class="icon-plus"></i>More</a>&nbsp;&nbsp;
                    <a href="#null" class="btn "><i class="icon-ok"></i>Action</a>
                </div>

            </div>
        </div>
        <div class="span3" data-ng-animate="bounceIn" data-ng-animate-delay=".6s">
            <div class="portfolio-item">
                <div class="image">
                    <img src="assets/portfolio/dribbble_pig_1x.jpg" />
                </div>
                <div class="content">
                    <h4 class="subtitle">
                        Lorem Ipsum
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium.
                    </p>
                </div>
                <div class="links">
                    <a href="#null" class="btn "><i class="icon-plus"></i>More</a>&nbsp;&nbsp;
                    <a href="#null" class="btn "><i class="icon-ok"></i>Action</a>
                </div>

            </div>
        </div>

    </div>
</div>