<div class="container">
    <div class="row-fluid">
        <div class="span3 offset1">
            <ul class="pricing-table" data-ng-animate="fadeInLeft">
                <li class="title">
                    <h3>Basic</h3>
                </li>
                <li></li>
                <li><strong>20GB</strong> Storage</li>
                <li><strong>15</strong> Email Addresses</li>
                <li><strong>5</strong> Domains </li>
                <li><strong>Unlimited</strong> Bandwidth </li>

                <li><strong>Endless</strong> Support</li>
                <li class="price">
                    5<small>$</small>
                </li>
                <li class="action">
                    <a class="btn btn-large" href="#"><i class="icon-unlock-alt"></i>Sign Up</a>
                </li>
            </ul>
        </div>
        <div class="span4">
            <ul class="pricing-table preffered-plan" data-ng-animate="fadeInLeft" data-ng-animate-delay=".2s">
                <li class="title">
                    <h3>Pro</h3>
                </li>
                <li></li>
                <li><strong>50GB</strong> Storage</li>
                <li><strong>15</strong> Email Addresses</li>
                <li><strong>5</strong> Domains </li>
                <li><strong>Unlimited</strong> Bandwidth </li>
                <li><strong>Endless</strong> Support</li>
                <li class="price">
                    10<small>$</small>
                </li>
                <li class="action">
                    <a class="btn btn-large" href="#"><i class="icon-unlock-alt"></i>Sign Up</a>
                </li>
            </ul>
        </div>
        <div class="span3">
            <ul class="pricing-table " data-ng-animate="fadeInLeft" data-ng-animate-delay=".4s">
                <li class="title">
                    <h3>Bussiness</h3>
                </li>
                <li></li>
                <li><strong>20GB</strong> Storage</li>
                <li><strong>15</strong> Email Addresses</li>
                <li><strong>5</strong> Domains </li>
                <li><strong>Unlimited</strong> Bandwidth </li>

                <li><strong>Endless</strong> Support</li>
                <li class="price">
                    15<small>$</small>
                </li>
                <li class="action">
                    <a class="btn btn-large" href="#"><i class="icon-unlock-alt"></i>Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</div>