<div class="container">
    <div class="section-title seprator">
        <h3>How Do We Work</h3>
    </div>
    <div class="row-fluid">
        <div class="span3" data-ng-animate="fadeInRight">
            <div class="process-item">
                <div class="icon"><i class="icon-lightbulb"></i></div>
                <h4 class="title">Plan</h4>
                <p>Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos. </p>
            </div>
        </div>
        <div class="span3" data-ng-animate="fadeInRight" data-ng-animate-delay=".2s">
            <div class="process-item">
                <div class="icon"><i class="icon-pencil"></i></div>
                <h4 class="title">Design</h4>
                <p>Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos. </p>
            </div>
        </div>
        <div class="span3" data-ng-animate="fadeInRight" data-ng-animate-delay=".4s">
            <div class="process-item">
                <div class="icon"><i class="icon-code"></i></div>
                <h4 class="title">Code</h4>
                <p>Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos. </p>
            </div>
        </div>
        <div class="span3" data-ng-animate="fadeInRight" data-ng-animate-delay=".6s">
            <div class="process-item">
                <div class="icon"><i class="icon-truck icon-flip-horizontal"></i></div>
                <h4 class="title">Release</h4>
                <p>Mollis diam, vulputate suscipit purus enim a nisl. Scelerisque, viverra vivamus placerat porta sodales imperdiet consequat placerat justo sapien cum! Maecenas cursus nostra elementum mattis netus ante, lacinia neque. Felis phasellus natoque convallis conubia inceptos. </p>
            </div>
        </div>
    </div>
</div>