<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <div class="service-item">
                <div class="row-fluid">
                    <div class="span4" data-ng-animate="fadeInRight">
                        <div class="service-icon"><i class="icon-html5 "></i></div>
                    </div>

                    <div class="span8" data-ng-animate="fadeInLeft">
                        <h4 class="subtitle">HTML5 Sementic Markup</h4>
                        <p>Phasellus phasellus eu tempor conubia, donec at tellus cum at tellus laoreet. Lorem dictumst pulvinar nec fringilla nulla. Commodo vehicula dui lacinia curae; placerat elementum ullamcorper in cras. Tempus orci ut tristique curabitur diam tincidunt pulvinar.</p>
                    </div>
                </div>
            </div>
            <div class="hz-divider default"></div>
            <div class="service-item">
                <div class="row-fluid">
                    <div class="span4" data-ng-animate="fadeInLeft" data-ng-animate-delay=".4s">
                        <div class="service-icon"><i class="icon-resize-full"></i></div>
                    </div>
                    <div class="span8" data-ng-animate="fadeInRight" data-ng-animate-delay=".4s">
                        <h4 class="subtitle">Responsive Layout</h4>
                        <p>Phasellus phasellus eu tempor conubia, donec at tellus cum at tellus laoreet. Lorem dictumst pulvinar nec fringilla nulla. Commodo vehicula dui lacinia curae; placerat elementum ullamcorper in cras. Tempus orci ut tristique curabitur diam tincidunt pulvinar.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="span4">
            <div class="service-item text-center">
                <div class="row-fluid">
                    <div class="" data-ng-animate="fadeInUp" data-ng-animate-delay=".2s">
                        <div class="service-icon"><i class="icon-css3"></i></div>
                    </div>
                    <div class="" data-ng-animate="fadeInDown" data-ng-animate-delay=".2s">
                        <h4 class="subtitle">Css3 Powered</h4>
                        <p>Phasellus phasellus eu tempor conubia, donec at tellus cum at tellus laoreet. Lorem dictumst pulvinar nec fringilla nulla. Commodo vehicula dui lacinia curae; placerat elementum ullamcorper in cras. Tempus orci ut tristique curabitur diam tincidunt pulvinar.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>